<a href="https://colab.research.google.com/github/rifahalwani60-ui/Pemrograman-Dasar/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# deklarasi variable list
numbers = [23, 43, 15, 34]
# cara mengakses elemen dalam variabel list
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34
# cara merubah nilai elemen dalam variabel list
numbers[2] # 51
numbers[2] # 51

print (numbers[1]) #lakukan setiap indexnya dan lihat hasilnya

43

In [ ]:
# deklarasi variable list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4,5)  #(1, 2, 3, 5)

# menambahkan eleme di indeks ke-4
numbers[3] = 4 #(1, 2, 3, 4)

# menghapus elemen di indeks ke-2
numbers.pop(2) # (1, 2, 4)

#print lalu lihat hasilnya

3

In [ ]:
# deklarasi variabel list numbers
numbers = [1, 2, 3]

# menambahkan elemen di indeks ke-4
numbers.insert(4, 5) # [1, 2, 3, 5]

# mengubah elemen di indeks ke-4
numbers[3] = 4 # [1, 2, 3, 4]

# menghapus elemen di indeks ke-2
numbers.pop(2) # [1, 2, 4]

# print setiap hasil perubahan dan amati hasilnya

3

In [ ]:
# deklarasi variabel list
mylist = [1, "rumah",4.5, True, ["kamar mandi", "kamar tidur"]]

# cara mengakses variabel dalam list
mylist[0] # 1
mylist[1] # "rumah"
mylist[2] # True
mylist[3] # ["kamar mandi", "kamar tidur"]

# cara mengakses elemen dalam sublist
mylist[4][0] # "kamar mandi
mylist[4][1] # "kamar tidur"

# lakukan print dan lihat hasilnya

'kamar tidur'

In [ ]:
x = (1, "polibatam", 1+3j)
print(type(x))

"""
<class 'tuple'>
"""

<class 'tuple'>

"\n<class 'tuple'>\n"

In [ ]:
x = (5, "program", 1+3j)
print(x[1])
print(x[0:3])

"""
output
program
(5, "program", (1+3j))
"""

program
(5, 'program', (1+3j))

'\noutput \nprogram\n(5, "program", (1+3j))\n'

In [ ]:
x = (5, 'program' (1+3j))
x[1] = 'polibatam'

"""
output
'tuple'doen not support item assigment
"""

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
/tmp/ipython-input-1579900686.py:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  x = (5, 'program' (1+3j))

TypeError: 'str' object is not callable

In [ ]:
# deklarasi variable tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34

# lakukan print laluamati hasilnya

34

In [ ]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)  # {1, 2, 3, 4}

# operasi irisan
a.intersection(b) # {2, 3}

# operasi perbedaan
a. symmetric_difference(b)  # {1, 4}

# lakukan print dan lihan hasilnya

{1, 4}

In [ ]:
x = x = {'name': 'rifa halwani', 'age': 20, 'isMarried' : False}

print(x ['name'])

"""
output
rifa halwani
"""

rifa halwani

'\noutput\nrifa halwani\n'

In [1]:
x = {'name': 'rifa halwani', 'age': 20, 'isMarried': False}
x ['job']= "web developer"

print(x)

"""
output:
{'name': 'rifa halwani, 'age': 20, 'isMarried': False, 'job': 'web developer'}

"""

{'name': 'rifa halwani', 'age': 20, 'isMarried': False, 'job': 'web developer'}

"\noutput:\n{'name': 'rifa halwani, 'age': 20, 'isMarried': False, 'job': 'web developer'}\n\n"

In [7]:
x = {'name': 'rifa halwani', 'age': 20, 'isMarried': False}
del x['isMarried']

print(x)

{'name': 'rifa halwani', 'age': 20}

In [13]:
x = {'name':'rifa halwani', 'age': 20, 'isMarried': False}
x['name'] = "halwani"

print(x)

{'name': 'halwani', 'age': 20, 'isMarried': False}

In [23]:
# Deklarasi variabel dictionary
propertyDetail = {"numFloors": 1, "propertyType": "rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel
propertyDetail["numFloors"]        # 1
propertyDetail["propertyType"]     # rumah
propertyDetail["hasTerrace"]       # True
propertyDetail["hasGarage"]        # False

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail ["hasTerrace"]  = False

propertyDetail ["hasTerrace"]  # False

# print (proprtyDetail["propertytype"])

False

In [25]:
# Membuat variabel sesuai instruksi soal
x = {'firtsName': 'Rifa', 'lastname': 'Halwani', 'age': 25, 'isMarried': False}

print(x['firtsName'])  # Rifa
print(x['lastname'])   # Halwani
print(x['age'])        # 25
print(x['isMarried'])  # False

# menampilkan Dta dictionary dengan print()
print

Rifa
Halwani
25
False

In [28]:
# Membuat variabel  Dictionary nama dan  "Data Diri"


# Membuat dictionary sesuai instruksi
data_diri = {
    "firstName": "Rifa",      # string -> nama depan
    "lastName": "Halwani",    # string -> nama belakang
    "age": 25,                # integer -> umur
    "isMarried": False        # boolean -> status pernikahan
}

# Menampilkan dictionary dengan print()
print("Dictionary Data Diri:", data_diri)

Dictionary Data Diri: {'firstName': 'Rifa', 'lastName': 'Halwani', 'age': 25, 'isMarried': False}

In [31]:
# Membuat variabel sesuai Tugas instruksi soal
firstName = "Rifa"
lastName  = "Halwani"
age       = 25
isMarried = False

# menampilkan Hasil output instruksi print
print("firstName :",firstName)
print("lastName :", lastName)
print("age:", age)
print("isMarried:", isMarried)

firstName : Rifa
lastName : Halwani
age: 25
isMarried: False

In [33]:
# Tugas 3 Membuat variabel startTime (waktu datang) sesuai instruksi
startTime = {
    "HH": 9,    # jam
    "mm": 23,   # menit
    "ss": 57    # detik
}

# Membuat variabel endTime (waktu pulang) sesuai instruksi
endTime = {
    "HH": 15,   # jam
    "mm": 25,   # menit
    "ss": 43    # detik
}

# Menampilkan hasil dengan print()
print("Waktu Datang (startTime):", startTime)
print("Waktu Pulang (endTime):", endTime)

Waktu Datang (startTime): {'HH': 9, 'mm': 23, 'ss': 57}
Waktu Pulang (endTime): {'HH': 15, 'mm': 25, 'ss': 43}

In [36]:
# Tugas 4 Membuat variabel inspeksi bertipe list
Inspeksi = ["pemahaman terhadap rencana dan desain","ketersediaan bahan dan peralatan","pengawasan pekerjaan", "kualitas konstruksi","keselamatan kerja",
             "koordinasi dengan pemilik proyek"]

# menampilkan  seluruh list inspeksi
print("Inspeksi:",Inspeksi)
print(Inspeksi)

# tampilkan setiap item list agar rapi
print("\nDetail Inspeksi:")
for i, item in enumerate(Inspeksi, start=1):
    print(f"{i}. {item}")

Inspeksi: ['pemahaman terhadap rencana dan desain', 'ketersediaan bahan dan peralatan', 'pengawasan pekerjaan', 'kualitas konstruksi', 'keselamatan kerja', 'koordinasi dengan pemilik proyek']
['pemahaman terhadap rencana dan desain', 'ketersediaan bahan dan peralatan', 'pengawasan pekerjaan', 'kualitas konstruksi', 'keselamatan kerja', 'koordinasi dengan pemilik proyek']

Detail Inspeksi:
1. pemahaman terhadap rencana dan desain
2. ketersediaan bahan dan peralatan
3. pengawasan pekerjaan
4. kualitas konstruksi
5. keselamatan kerja
6. koordinasi dengan pemilik proyek

In [37]:
# Tugas 5 membuat Daftar produk dalam bentuk set
katalog_A = {"Laptop", "Mouse", "Keyboard", "Monitor"}
katalog_B = {"Tablet", "Mouse", "Headset", "Monitor"}

#  Membuat Daftar produk  diskon
produk_diskon = ("Laptop", "Headset", "Charger")

# Gabungkan katalog_A dan katalog_B menjadi satu set unik
katalog_lengkap = katalog_A.union(katalog_B)
print("Katalog Lengkap:", katalog_lengkap)

# Cari produk mana saja dari katalog_lengkap yang juga ada di produk_diskon
produk_promo_aktif = katalog_lengkap.intersection(produk_diskon)
print("Produk Promo Aktif:", produk_promo_aktif)

Katalog Lengkap: {'Laptop', 'Tablet', 'Monitor', 'Keyboard', 'Headset', 'Mouse'}
Produk Promo Aktif: {'Laptop', 'Headset'}